#header {
    border-color: black;
    border-width: 2px;
    border-style: solid;
    height: 128px;
    position: relative;
    top: 0;
    left: 0;
}

#content {
    border-color: black;
    border-width: 2px;
    border-style: solid;
    height: 640px;
    position: relative;
}

#footer {
    border-color: black;
    border-width: 2px;
    border-style: solid;
    height: 640px;
    position: relative;
}

div.headerbutton {
    padding: 4px 8px;
    display: inline-block;
    height: 32px;
    background-color: #333399;
    color: #FFF;
    min-width: 96px;
    text-align: center;
}

div.headerbutton:hover {
    background-color: #3399FF;
}

div.headerbutton.active {
    background-color: #09AF00;
}

div.headerbutton.active:hover {
    background-color: #3399FF;
}

/* File list CSS */
#scrollfiles {
    overflow: auto;
    white-space: nowrap;
    height: 100%;
}

div.file {
    width: 256px;
    display: inline-block;
    border-style: solid;
    border-color: #333399;
    border-width: 2px;
    vertical-align: top;
    white-space: normal;
}

div.filename {
    color: white;
    text-align: center;
    background-color: #333399;
    width: 100%;
    padding: 6px;
    word-wrap: break-word;
}

div.file:hover .filename {
    background-color: #3399FF;
}

div.line {
    background-color: white;
    width: 100%;
}

div.dupset {
    background-color: #3366CC;
    color: #FFF;
}

/* Sort options CSS */
div.sort {
    display: inline-block;
}

div.sortoptions {
    display: inline-block;
    width: 96px;
}

div.sortoption {
    color: black;
    text-align: left;
    text-decoration: none;
    background-color: #FFFFFF;
    padding: 6px 3px;
    height: 32px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

div.sortoption:hover {
    background-color: #3399FF;
}

div.sortoption.active {
    border-right-style: solid;
    border-right-color: #333399;
    border-right-width: 8px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

div.sortoption.active:hover {
    background-color: #3399FF;
}

/* Class list CSS */
#scrollclasses {
    overflow: auto;
    white-space: nowrap;
    height: 100%;
}

div.class {
    width: 256px;
    display: inline-block;
    border-style: solid;
    border-color: #333399;
    border-width: 1px;
    vertical-align: top;
}

div.classsize {
    padding: 6px;
}

div.classfilecount {
    padding: 6px;
}

div.classfiles {
    padding: 6px;
}

div.classfile {
    border-top-style: solid;
    border-top-color: #333399;
    border-top-width: 1px;
    padding: 6px;
    white-space: normal;
}

div.classfile.active {
    background-color: #09AF00;
}

div.classfile:hover {
    background-color: #3399FF;
    color: #FFF;
}

div.classfilename {
    word-wrap: break-word;
}

div.classfilelines {

}

/* Source code CSS */
div.srcline {
    max-width: 100vw;
    overflow: hidden;
}

div.srcline:hover {
    background-color: #3399FF;
    color: #fff;
}

div.srclineno {
    width: 3vw;
    text-align: right;
    padding: 0 3px;
    float: left;

}

div.srclinecode {
    padding-left: 4px;
    word-wrap: break-word;
    white-space: pre-wrap;
    overflow: hidden;
    border-left-style: solid;
    border-left-width: 1px;
}

/* Source code tooltip CSS */
div.srcblock {
    text-decoration: none;
    position: relative;
}

.dupset.active {
    background-color: #09AF00;
}

div.srcblock .srctooltip {
    display: none;
    background-color: rgba(85,85,85,0.6);
    color: #FFF;
    text-align: center;
    padding: 6px 6px;
    border-radius: 6px;
    z-index: 1;
    min-width: 320px;
    min-height: 128px;
    max-width: 384px;
}

div.srcblock:hover .srctooltip {
    display: block;
    position: fixed;
    overflow: hidden;
}

div.srctooltipfile {
    border-style: solid none;
    border-color: #FFF none;
    border-width: 1px;
    padding: 3px;
}

/* Source code dup header CSS */
#srcdupheader {

}

div.srcdupheader {
    height: 128px;
    padding: 10px 16px;
    background: #333399;
    color: #FFF;
    z-index: 2;
}

div.stickyheader {
    position: fixed;
    top: 0;
    width:100%;
}

div.stickyheader + .srccode {
    padding-top: 102px;
}