<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Title of the document</title>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/bootstrap.min.css')}}">

<!-- Optional theme -->
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/bootstrap-theme.min.css')}}">

<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/home.css')}}">
</head>

<body>
    <div class="srcdupheader" id="srcdupheader">
        
    </div>
    {% set vars = {"lineno": 1} %}
    <div class="srccode">
    {% for b in data["files"][filename][2] | sort(attribute="linestart") %}
        {% if b["linestart"] > vars.lineno %}
            <div class="srcblock">
            {% for l in range(vars.lineno, b["linestart"]) %}
                <div class="srcline">
                    <div class="srclineno">{{ l }}</div>
                    <div class="srclinecode">{{ filesrc[l-1] }}</div>
                </div>
            {% endfor %}
            </div>
        {% endif %}

        <div class="srcblock">
            {% for l in range(b["linestart"], (b["linestart"]+b["linemass"])) %}
            <div class="srcline dupset">
                <div class="srclineno">{{ l }}</div>
                <div class="srclinecode">{{ filesrc[l-1] }}</div>
            </div>
            {% endfor %}

            <div class="srctooltip">
                <div>
                    <b>DUPLICATE CODE</b>
                </div>
                <div class="srctooltipfiles">
                    {% for f in data["classes"][b["classID"]][0] %}
                    {% if not (f[0] == filename and data["files"][f[0]][2][f[1]]["linestart"] == b["linestart"]) %}
                    <div class="srctooltipfile">
                        <div class="srctooltipfilename">{% if f[0]|length > 25 %}{{ f[0][0:10] }}.....{{ f[0][-10:] }}{% else %}{{ f[0] }}{% endif %}</div>
                        <div class="srctooltipfilelines"><b>Lines: {{ data["files"][f[0]][2][f[1]]["linestart"] }}-{{ data["files"][f[0]][2][f[1]]["linestart"]+data["files"][f[0]][2][f[1]]["linemass"] - 1 }}</b></div>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        {% if vars.update({"lineno": (b["linestart"] + b["linemass"])}) %}{% endif %}
    {% endfor %}

    {% if data["files"][filename][1] > vars.lineno %}
        <div class="srcblock">
            {% for l in range(vars.lineno, data["files"][filename][1]+1) %}
            <div class="srcline">
                <div class="srclineno">{{ l }}</div>
                <div class="srclinecode">{{ filesrc[l-1] }}</div>
            </div>
            {% endfor %}
        </div>
    {% endif %}
    </div>

<script src="{{url_for('static', filename='js/jquery-3.3.1.min.js')}}"></script>

<!-- Latest compiled and minified JavaScript -->
<script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>

<!--<script src="{{url_for('static', filename='data/test.json')}}"></script>-->
<script src="{{url_for('static', filename='js/home.js')}}"></script>

</body>

</html> 