<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Title of the document</title>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/bootstrap.min.css')}}">

<!-- Optional theme -->
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/bootstrap-theme.min.css')}}">

<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/home.css')}}">
</head>

<body>
    <div id="mainheader">
        <div class="headerbutton active" onclick='showOption(this, "/showfiles", "/showorderfiles")'>Files</div>
        <div class="headerbutton" onclick='showOption(this, "/showclasses", "/showorderclasses")'>Classes</div>
        <div class="headerbutton" onclick='showPlots(this, "/duphistogram")'>Plots</div>
    </div>
    <div id="header">
        {% include 'filesorder.html' %}
    </div>

    <div id="content">
        <div id="scrollfiles">
            {% include 'filelist.html' %}
        </div>
    </div>

<script src="{{url_for('static', filename='js/jquery-3.3.1.min.js')}}"></script>

<!-- Latest compiled and minified JavaScript -->
<script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>

<!--<script src="{{url_for('static', filename='data/test.json')}}"></script>-->
<script src="{{url_for('static', filename='js/home.js')}}"></script>

</body>

</html> 